* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    all: unset;
}

.light-mode {
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
    height: auto;
}

.light-mode .elements {
    background-color: hsl(0, 0%, 100%);
}

.dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
    height: auto;
}

.dark-mode .elements {
    background-color: hsl(209, 23%, 22%);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
    font-family: "Nunito Sans", serif;
}

.flagImage {
    height: auto;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    padding: 0px;
    font-family: "Nunito Sans", serif;
    margin: 20px;
    box-shadow: 0px 0px 5px 2px #80808045;
    border-radius: 5px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    padding: 20px;
}

.title {
    font-weight: 800;
}

select {
    padding: 7px;
    height: 35px;
    margin: 3px;
    border-radius: 5px;
}

.borderButton {

}
